<h2><%= @ticket.title %></h2>
<%= authorized?("edit tickets", @project) do %>
	<%= link_to "Edit", [:edit, @project, @ticket] %>
<% end %>
<%= authorized?("delete tickets", @project) do %>
	<%= link_to "Delete", [@project, @ticket], :method => :delete, :confirm => "Are you sure?" %>
<% end %>
Created by <%= @ticket.user.email %>
<%= simple_format(@ticket.description) %>